* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.main {
    text-align: center;
    background: linear-gradient(to bottom, rgb(12, 33, 79), rgb(0,0,0));
    color: white;
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.title {
    color: #ffcb05;
    margin-bottom: 20px;
    font-size: 60px;
}

.pokemon-list {
    width: 50vw;
    background-color: #2a75bb;
    border: #ffcb05 3px solid;
    list-style: none;
    padding: 30px;
}

.pokemon-item {
    margin: 10px;
    flex: 1 1 150px;
}

.pokemon-link {
    color: #ffcb05;
    text-decoration: none;
    font-weight: bold;
}

.load-button {
    background-color: #ffcb05;
    color: #2a75bb;
    border: none;
    padding: 10px 20px;
    margin-top: 20px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s;
}

.load-button:hover {
    background-color: #f7b500;
}

.load-button:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
}

@media (max-width: 600px) {
    .pokemon-item {
        flex: 1 1 100px;
        text-align: center;
    }

    .load-button {
        background-color: #ffcb05;
        color: #2a75bb;
        border: none;
        padding: 15px;
    }
}